 <% provide(:title, "Conversation") %>

<div class="pusher">
  <div class="ui vertical stripe segment">
    <div class="ui container">
    	<div class="ui two column stackable grid">
	    	<div class="ten wide column">
	    		<h3 class="ui header">
		      	Conversation
		      	<% if @conversation %>
							<div class="ui sub header">
								between 
								<b>
									<%= link_to @conversation.sender.profile do %>
										<%= @conversation.sender.full_name %>
									<% end %>	
								</b> 
								and 
								<b>
									<%= link_to @conversation.recipient.profile do %>
										<%= @conversation.recipient.full_name %>
									<% end %>	
								</b>
							</div>
			      <% end %>
		    	</h3>
		    	<% if current_user.profile.nil? %>
						<div class="ui icon info message">
						  <i class="user icon"></i>
						  <div class="content">
						    <div class="header">
							    You must create a profile first!
							  	Visit <%= link_to("Profile", new_profile_path) %> to get started.</div>
						  </div>
						</div>
					<% else %>
						<div class="ui large feed" id="messageSegment">
							<% @messages.each do |msg| %>
								<%= render partial: "shared/messageDisplay", locals:{msg: msg} %>
  						<% end %>
	    			</div>
					<% end %>
  			</div>

			  <div class="six wide column">
			    <h3 class="ui header">
		      	Reply
		      	<div class="ui sub header">
		      		message to 
							<b>
								<% if current_user.full_name == @conversation.sender.full_name %>
									<%= link_to @conversation.recipient.profile do %>
										<%= @conversation.recipient.full_name %>
									<% end %>
								<% else %>
									<%= link_to @conversation.sender.profile do %>
										<%= @conversation.sender.full_name %> 
									<% end %>
								<% end %>
							</b>
						</div>
		    	</h3>
		    	<div class="ui form">
		    		<%= hidden_field_tag "conversation_id", @conversation.id %>
					  <div class="field">
					    <textarea id="messageBody"></textarea>
					  </div>
				    <button class="ui positive button" id="sendMessage" type="submit">Send</button>
					</div>
			  </div>
    	</div>
    </div>
  </div>
</div>