<%if @pets.count<1 %>
  <div class="ui negative message">
    <div class="header">
      Sorry! No pets matching current criteria. Please try again with another search criteria.
    </div>
  </div>
<% else %>
  <% @pets.each do |pet| %>
    <div class="item">
      <%= link_to pet, html_options={class:"ui small bordered rounded image"} do %>
        <% if pet.helpWanted %>
          <span class="ui mini left corner red label">
            <i class="paw icon"></i>
          </span>
        <% end %>
        <%= image_tag pet.image.url(:medium) %>
      <% end %>

      <div class="top aligned content">
        <div class="header">
          <%= pet.name %>
        </div> 
        <div class="meta">
          <span>
            <i class="home icon"></i> <%= pet.profile.city %>, <%= pet.profile.state %> <%= pet.profile.zip%>
          </span>
        </div>
        <div class="description">
          <p>
            <strong>Gender:</strong> <%= pet.gender %>
          </p>
          <p>
            <strong>Breed:</strong> <%= pet.breed %>
          </p>
          <p class="block-with-text">
            <strong>Details:</strong> <%= pet.details %>
          </p>
        </div>
        <div class="extra">
          <%= link_to "View Profile", pet_path(pet), class:"ui right floated teal button" %>
          <div class="ui right floated yellow button">
            Message owner
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

