<% provide(:title, @pet.name) %>

<div class="ui container">
	<div class="ui vertical stripe segment">
		<div class="ui two column grid">
			<div class="four wide column">
				<div class="ui fluid image">
					<%= image_tag @pet.image.url(:medium), class:"ui bordered rounded image" %>
					<% if (@pet.helpWanted)%>
					<div class="ui red ribbon label">
						<i class="paw icon"></i>Help Wanted
					</div>
					<% end %>
				</div>

				<h3><%= @pet.name %></h3>

				<p>
					<i class="user icon"></i><%= link_to "#{@pet.profile.full_name}", profile_path(@pet.profile.id) %>
				</p>
				<p>
					<i class="marker icon"></i><%= @pet.profile.city%>, <%= @pet.profile.state %>
				</p>
				<p>
					<i class="thumbs outline up icon"></i><a href="#reviewSegment">Read Reviews</a>
				<p>
				
				<% if(!@pet.owned_by_user(current_user)) %>
					<p>
						<button class="positive ui button <%= 'disabled' unless user_signed_in? %>" id="writeReviewBtn">
							<i class="pencil icon"></i> Write a Review
						</button>
					</p>
				<% else %>
					<p>
						<%= link_to "Edit Pet Profile", edit_pet_path(@pet), class:"ui yellow button" %>
					</p>
				<% end %>	
			</div>

			<div class="twelve wide column">
				<% if (@pet.helpWanted)%>
				<div class="ui horizontal segments">
					<div class="ui segment">
						<h4>Help Wanted:</h4>
						<p style="color:red;"><%= @pet.helpStartDate.to_formatted_s(:long) %> - <%= @pet.helpEndDate.to_formatted_s(:long)  %></p>
					</div>
					<div class="ui segment">
						<%= image_tag @pet.profile.image, class:"ui tiny middle aligned spaced image"%>
						<span> Contact 
							<strong>
							<%= link_to @pet.profile do %>
								<%= @pet.profile.full_name %>
							<% end %>
							</strong> to help.
						</span> 
					</div>
				</div>
				<% end %>

				<div class="ui segment">
					<h4>Description:</h4>
					<%= @pet.details %>
				</div>

				<div class="ui segment">
					<h4>Summary:</h4>
					<div class="text">
						Gender: <%= @pet.gender %>
						<br/>
						Age: <%= @pet.age %>
						<br/>
						Weight: <%= @pet.weight %>
						<br/>
						Breed: <%= @pet.breed %>
						<br/>
						Species: <%= @pet.species %>
					</div>
				</div>

				<div class="ui segment" id="reviewSegment">
					<h4>Reviews:</h4>
					<h4 class="ui grey header" id="noReviewMsg">No Reviews Available</h4>
					<% @pet.reviews.each do |r| %>
						<% if r.user.profile %>
							<%= render partial: "shared/reviewDisplay", locals:{r: r} %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<%= render partial:"shared/writeReview", locals:{name: @pet.name} %>
</div>
