<% provide(:title, @pet.name) %>

<div class="ui container">
	<div class="ui vertical stripe segment">
		<div class="ui two column grid">
			<div class="four wide column">
				<div class="ui fluid image">
					<%= image_tag @pet.image.url(:medium), class:"ui bordered rounded image" %>
					<% if (@pet.helpWanted)%>
					<div class="ui red ribbon label">
						<i class="paw icon"></i>Help Wanted
					</div>
					<% end %>
				</div>

				<h3><%= @pet.name %></h3>

				<p>
					<i class="user icon"></i><%= link_to "#{@pet.profile.full_name}", profile_path(@pet.profile.id) %>
				</p>
				<p>
					<i class="marker icon"></i><%= @pet.profile.city%>, <%= @pet.profile.state %>
				</p>
				<p>
					<i class="thumbs outline up icon"></i><a href="#UserReviews">Read Reviews</a>
				<p>
				<% if (@pet.helpWanted) %>	
					<p>
						<i class="mail icon"></i><a href="#">Send a Message</a>
					<p>
				<% end %>	
				<% if(!@pet.owned_by_user(current_user)) %>
					<p>
						<button class="positive ui button writeReviewBtn">
							<i class="pencil icon"></i> Write a Review
						</button>
					</p>
				<% else %>
					<p>
						<%= link_to "Edit Pet Profile", edit_pet_path(@pet), class:"ui yellow button" %>
					</p>
				<% end %>	
			</div>

			<div class="twelve wide column">
				<% if (@pet.helpWanted)%>
				<div class="ui horizontal segments">
					<div class="ui segment">
						<h4>Help Wanted:</h4>
						<p style="color:red;"><%= @pet.helpStartDate.to_formatted_s(:long) %> - <%= @pet.helpEndDate.to_formatted_s(:long)  %></p>
					</div>
					<div class="ui segment">
						<a href="userProfile.html" class="ui image"> 
						<%= image_tag @pet.profile.image, class:"ui circular tiny middle aligned image" %>
						<span> Contact <strong><%= @pet.profile.full_name %></strong> to help.</span> </a>
					</div>
				</div>
				<% end %>

				<div class="ui segment">
					<h4>Description:</h4>
					<%= @pet.details %>
				</div>

				<div class="ui segment">
					<h4>Summary:</h4>
					<div class="text">
						Gender: <%= @pet.gender %>
						<br/>
						Age: <%= @pet.age %>
						<br/>
						Weight: <%= @pet.weight %>
						<br/>
						Breed: <%= @pet.breed %>
						<br/>
						Species: <%= @pet.species %>
					</div>
				</div>

				<div class="ui segment">
					<h4>Reviews: <a class="hidden" name="UserReviews"></a></h4>
					<% if @pet.reviews.count == 0 %>
						<h4 class="ui grey header">No Reviews Available</h4>
					<% end %>

					<% @pet.reviews.each do |r| %>
						<div class="ui comments">
							<div class="comment">
								<a href="#" class="avatar" style="height:2.5em;"> 
									<%= image_tag r.user.profile.image, class:"ui circular tiny middle aligned image" %></a>
								<div class="content">
									<%= link_to r.user.profile.full_name, profile_path(r.user.profile), html_options={class:"author"} %>
									<div class="ui star rating readOnlyRating" data-rating=<%= r.rating.to_s%> data-max-rating="5"></div>
									<div class="metadata">
										<div class="date">
											<%= r.created_at.strftime("%m-%d-%Y") %>
										</div>
									</div>
									<div class="text">
										<%= r.details%>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<%= render partial:"shared/writeReview", locals:{name: @pet.name} %>
</div>
