<div class="ui comments reviewDisplay">
	<div class="comment">
		<%= link_to r.user.profile, html_options={class:"avatar"} do %>
			<%= image_tag r.user.profile.image %>
		<% end %>
		<div class="content">
			<%= link_to r.user.profile.full_name, profile_path(r.user.profile), html_options={class:"author"} %>
			<div class="ui star rating readOnlyRating" data-rating=<%= r.rating.to_s%> data-max-rating="5"></div>
			<div class="metadata">
				<div class="date">
					<%= r.created_at.strftime("%m-%d-%Y") %>
				</div>
			</div>
			<div class="text">
				<%= r.details%>
			</div>
		</div>
	</div>
</div>