<div class="ui modal" id="review">
  <i class="close icon"></i>
  <div class="header">
    Write a Review on <%= name%>
  </div>
  <div class="text content">
    <div class="ui form">
      <div class="field">
        <label>Rating</label>
        <div class="ui star rating" id="writeRating" data-max-rating="5"></div>
      </div>
      <div class="field">
        <label>Comments</label>
        <textarea rows="3" id="comments"></textarea>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button" id=<%= sendBtnId%> >
      Send
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  var review_subject = {
    id: <%= @pet.nil? ? @profile.id : @pet.id %>,
    type: "<%= @pet.nil? ? @profile.class.to_s : @pet.class.to_s %>"
  };

<% end %>