<% provide(:title, "Search Pets") %>

 <div class="ui container">
  <div class="ui vertical stripe segment">
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="findPet" id="findPetTab">Find Pets</a>
      <a class="item" data-tab="findSitter" id="findSitterTab">Find Sitters</a>
    </div>

    <div class="ui bottom attached tab segment active" data-tab="findPet">
      <%= form_tag("/pets/search", remote: true, method: "post", id:"petSearchForm") do %>
        <div class="ui action input">
          <%= render "shared/petSearch" %>
          <button type="submit" class="ui icon button" id="petSearchFormBtn"><i class="search icon"></i></button>
        </div>
      <% end %>
      <div class="ui divider"></div>
      <div class="ui divided items" id="petSearchResults">
        <%= render "pets/petSearchList" %>
      </div>

    </div>

    <div class="ui bottom attached tab segment" data-tab="findSitter">
      <%= form_tag("/profile/search", remote: true, method: "post", id:"userSearchForm") do %>
        <div class="ui action input">
          <%= render "shared/ownerSearch" %>
          <button type="submit" class="ui icon button"><i class="search icon"></i></button>
        </div>
      <% end %>

      <div class="ui divider"></div>
      <div class="ui divided items" id="profileSearchResults">
        <%= render "profile/profileSearchList" %>
      </div>
    </div>
   
  </div>
</div>
