<%if (@profiles.nil? || @profiles.count == 0) %>
  <div class="ui negative message">
    <div class="header">
      Sorry! No pet sitters matching current criteria. Please try again with another search criteria.
    </div>
  </div>
<% else %>
  <% @profiles.each do |profile| %>
    <div class="item">
      <%= link_to profile, html_options={class:"ui small bordered rounded image"} do %>
        <% if profile.is_volunteer %>
          <span class="ui mini left corner green label">
            <i class="paw icon"></i>
          </span>
        <% end %>
        <%= image_tag profile.image.url(:medium) %>
      <% end %>
      <div class="top aligned content">
        <div class="header"><%= profile.firstName %> <%= profile.lastName %></div>
        <div class="meta">
          <span><i class="home icon"></i><%= profile.city %>, <%= profile.state %> <%= profile.zip %></span>
        </div>
        <div class="description">
          <p class="block-with-text">
            <strong>Bio:</strong> <%= profile.description %>
          </p>
        </div>
        <div class="extra">
          <%= link_to "View Profile", profile_path(profile), class:"ui right floated teal button" %>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @profiles, window: 2 %>
<% end %>

