<div class="ui container">
  <div class="ui vertical stripe segment">

    <%= link_to "Add a Pet", new_pet_path, class:"ui right floated button" %>

    <div class="ui divided items">
      <% if not @pets.nil? %>
        <% @pets.each do |pet| %>
          <div class="item">
            <div class="ui small image">
              <img src="..\app\assets\images\Dogs\annie.jpg">
            </div>
            <div class="top aligned content">
              <div class="header"><%= pet.name %></div>
              <div class="meta">
                <span><i class="home icon"></i>San Diego, CA</span>
              </div>
              <div class="description">
                <span>Gender: <%= pet.gender %></span><br/>
                <span>Breed: <%= pet.breed %></span><br/>
                <span>Details: <%= pet.details %></span>
              </div>
              <div class="extra">
                <%= link_to "Unregister Pet", pet_path(pet), method: :delete, class:"ui right floated red button" %>
                <%= link_to "View Profile", pet_path(pet), class:"ui right floated button" %>
                <div class="ui right floated button"> Message owner </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      
    </div>
  </div>
</div>
