<% provide(:title, @profile.firstName + " " + @profile.lastName ) %>

<div class="ui container">
	<div class="ui vertical stripe segment">
		<div class="ui two column grid">
			<div class="four wide column">
				<% if (@profile.image) %>
					<%= image_tag @profile.image, class:"ui bordered rounded image" %>
				<% else%>
					<%= image_tag "wireframeImage.png", class:"ui bordered rounded image" %>
				<% end %>
				<h3><%= @profile.firstName %> <%= @profile.lastName %></h3>
				<p>
					<i class="marker icon"></i>
					<%= @profile.city %>, <%= @profile.state %> <%= @profile.zip %>
				</p>

				<% if @profile.is_volunteer %>
					<p>
						<i class="paw icon"></i>Volunteer Pet Sitter
					</p>
				<% end %>

				<p>
					<i class="thumbs outline up icon"></i><a href="#UserReviews">Read Reviews</a>
				</p>
				<% if(current_user != @profile.user) %>
					<p>
						<button class="yellow ui button <%= 'disabled' unless user_signed_in? %>" id="composeMsg">
							<i class="mail icon"></i> Send a Message
						</button>
					</p>
				
					<p>
						<button class="positive ui button <%= 'disabled' unless user_signed_in? %>" id="writeReviewBtn">
							<i class="pencil icon"></i> Write a Review
						</button>
					</p>
				<% else %>		
          <%= link_to "Edit Profile", edit_profile_path(current_user.profile.id), class: "ui yellow button" %>
				<% end %>
			</div>
			<div class="twelve wide column">
				<div class="ui segment">
					<h4>Bio:</h3>
					<p>
						<%= @profile.description %>
					</p>
				</div>
				<% if @profile.pets.count > 0 %>
				<div class="ui segment">
					<h4>Pet Profiles:</h4>
					<div class="ui items">
						<% @profile.pets.each do |pet| %>
						<div class="item">
							<div class="ui small image">
								<%= image_tag pet.image.url(:medium), class:"ui bordered rounded image" %>
							</div>
							<div class="content">
								<%= link_to pet.name, pet, class:"header"%>
								<div class="description">
									<p>
										<%= pet.details %>
									</p>
								</div>
							</div>
						</div>
						<% end %>
					</div>
				</div>
				<% end %>

				<div class="ui segment" id="reviewSegment">
					<h4>Reviews: <a class="hidden" name="UserReviews"></a></h4>
					<h4 class="ui grey header" id="noReviewMsg">No Reviews Available</h4>

					<% @profile.reviews.each do |r| %>
						<% if r.user.profile %>
							<%= render partial: "shared/reviewDisplay", locals:{r: r} %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<%= render partial: "shared/composeMessage", locals:{profile: @profile} %>
	
	<%= render partial: "shared/writeReview", locals: {name: @profile.firstName + " " + @profile.lastName}%>
</div>