<div class="ui inverted fixed menu">
  <div class="ui container">
    <%= link_to "Pets Fur Lease", root_path,  class: "header item" %>
    <%= link_to "Look For Help", search_path,  class: "item" %>
    <%= link_to "Be a Sitter", search_path,  class: "item" %>
    <%= link_to "How it Works", faq_path,  class: "item" %>

    <div class="right menu ">
      <% if !user_signed_in? %>
        <%= link_to "Sign In", new_user_session_path,  class: "item" %>
        <%= link_to "Sign Up", new_user_registration_path,  class: "item" %>
      <% else %>
        <div class="ui simple dropdown item">
           Welcome <%= current_user.email %> <i class="dropdown icon"></i>
          <div class="menu">
            <% if not current_user.profile.nil? %>
              <%= link_to "View Profile", profile_path(current_user.profile.id), class: "item" %>
              <%= link_to "Edit Profile", edit_profile_path(current_user.profile.id), class: "item" %>
              <%= link_to "My Pets", registered_pets_path(current_user.profile.id), class: "item" %>
            <% else %>
              <%= link_to "Create new Profile", new_profile_path, class: "item" %>
            <% end %>

            <%= link_to "Account Settings", edit_user_registration_path, class: "item" %>
          </div>
        </div>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "item" %>
      <% end %>
    </div>

  </div>
</div>