<!DOCTYPE html>
<html>
  <head>
    <title>Pets Fur Lease</title>

    <%= stylesheet_link_tag    'application',
    	"http://fonts.googleapis.com/css?family=Original+Surfer",
      "semantic-ui",
    	media: 'all', 
    	'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 
    	"http://code.jquery.com/jquery-1.11.1.min.js", 
    	"https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.js", 
      "semantic-ui",
    	'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  	<div class="ui top fixed menu">
  	  <div class="ui container">
        <%= link_to "Pets fur Lease", home_index_path,  class: "item" %>
        <%= link_to "Look for help", pets_path,  class: "item" %>
        <%= link_to "Be a sitter", pets_path,  class: "item" %>
        <%= link_to "FAQ", faq_index_path,  class: "item" %>
  	    <a class="item">Contact</a>

  	    <div class="right menu ">

          <% if !user_signed_in? %>
            <%= link_to "Sign In", new_user_session_path,  class: "item" %>
            <%= link_to "Sign Up", new_user_registration_path,  class: "item" %>
          <% else %>

            <div class="ui simple dropdown item">
               Welcome <%= current_user.email %> <i class="dropdown icon"></i>
              <div class="menu">
                <% if not current_user.profile.nil? %>
                  <%= link_to "Edit your Profile", edit_profile_path(current_user.profile.id), class: "item" %>
                <% else %>
                  <%= link_to "Create new Profile", new_profile_path, class: "item" %>
                <% end %>
                <a class="item">Manage Pet Profiles</a>
                <a class="item">Account settings</a>
              </div>
            </div>
            <%= link_to "Sign Out", destroy_user_session_path, class: "item" %>

          <% end %>

  	    </div>
  	  </div>
  	</div>

  	<%= yield %>

  	<div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui inverted header">About Us</h4>
            <div class="ui inverted link list">
              <%= link_to "FAQ", faq_index_path,  class: "item" %>
              <a href="#" class="item">Contact</a>
              <a href="#" class="item">Terms of Service</a>
              <a href="#" class="item">Privacy Policy</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Helpful Tips</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">For pet owners</a>
              <a href="#" class="item">For pet sitters</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Top Cities</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Los Angeles</a>
              <a href="#" class="item">San Diego</a>
              <a href="#" class="item">San Francisco</a>
            </div>
          </div>
          <div class="four wide column">
            <h4 class="ui inverted header">Follow Us</h4>
            <div class="ui inverted link list">
              <a href=""><i class="large github icon grey "></i></a>
              <a href=""><i class="large facebook square icon grey"></i></a>
              <a href=""><i class="large twitter icon grey"></i></a>
              <a href=""><i class="large instagram icon grey"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
