<!DOCTYPE html>
<html>
  <head>
    <title> 
      <%= getFullTitle(yield :title) %>
    </title>

    <%= stylesheet_link_tag    'application',
    	"http://fonts.googleapis.com/css?family=Original+Surfer",
      "semantic-ui",
    	media: 'all', 
    	'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 
    	"http://code.jquery.com/jquery-1.11.1.min.js", 
    	"https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.js", 
      "semantic-ui",
    	'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <% if(alert)%>
	    <div class="ui center aligned grid">
	      <div class="ui vertical stripe middle ">
	        <div id="error_explanation" class="ui secondary inverted red segment">
            <i class="flag icon"></i>
	          <%= alert %>
	        </div>
	      </div>
	    </div>
	<% elsif(notice)%>
		<div class="ui center aligned grid">
	      <div class="ui vertical stripe middle ">
	        <div class="ui teal inverted segment">
	          <%= notice %>
	        </div>
	      </div>
	    </div>
    <% end %>
    
  	<%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
